<<<<<<< HEAD
body 
{
    margin: 0,25%,0,25%;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
=======
h1 {font-size: 48px;text-align: center ;} 
.blue {color:blue}
>>>>>>> 590ab20e668cbcc3b8596487baf01a7d5de0391e
